@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-color:#cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

.light-theme {
  ---page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: "Archivo", sans-serif;
  --character-top-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("../images/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}
.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("../images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("../images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("../images/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

/* GENERIC */

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--featured-font-family);
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  color: var(--highlight-color);
}

p, input, textarea, label {
  font-family: "Libre Baskerville", serif;
}

button {
  padding: 16px 32px;
  background-color: transparent;
  font-weight: 900;
  font-family: var(--featured-font-family);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background 1s; /* deixa uma animação mais suave*/
}

/* HEADER */

header {
  background-color: var(--header-background-color);
  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/banner/florest.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  opacity: 0.2;
  filter: saturate(0);
}

.header-content {
  max-width: 700px;
  padding: 80px 20px;
  text-align: center;
  z-index: 2;
}

.header-content img {
  width: 80%;
}

.header-content p{
  margin: 30px 0 50px;
}

.header-content button {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.header-content button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

.world-characters {
  width: 100%;
  max-width: 900px;
  position: absolute;
}

.world-characters#top-characters {
  height: 100%;
  background-color: var(--character-top-image-color);
  bottom: -3px;

  mask: var(--character-top-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world-characters#bottom-characters {
  height: 500px;
  background-color: var(--character-bottom-image-color);
  top: 3px;
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;

  mask: var(--character-bottom-image-src) bottom / contain no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.container {
  max-width: 1200px;
}

#section-inverted-world {
  align-items: center;
}

#section-inverted-world .section-texts {
  width: 50%;
}

#section-inverted-world .section-texts h2 {
  max-width: 300px;
}

